@font-face {
  font-family: "Monocraft";
  src: url("../public/assets/fonts/Monocraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monocraft";
  src: url("../public/assets/fonts/Monocraft-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Monocraft";
  src: url("../public/assets/fonts/Monocraft-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #0f172a;
  color: #efefef;

  user-select: none;
  /* Standard syntax */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;

  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (min-width: 1280px) {
  .xl\:pixel-font {
    font-family: "Monocraft";
  }
}

.flex-h-1 {
  flex: 1 0 0;
}

.white-filter {
  filter: invert(99%) sepia(15%) saturate(1538%) hue-rotate(316deg) brightness(108%) contrast(102%);
}

.trapezoid {
  border-bottom: 32px solid rgb(100 116 139 / var(--bg-opacity));
  /* #64748b */
  border-left: 28px solid transparent;
  border-right: 24px solid transparent;
  height: 0;
}

@media (min-width: 1280px) {
  .xl\:trapezoid {
    border-bottom: 28px solid rgb(100 116 139 / var(--bg-opacity));
    /* #54647b */
    border-left: 24px solid transparent;
    height: 0;
  }
}

@media (min-width: 1280px) {
  .xl\:flex-2 {
    flex: 2 1 0%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.heading {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1280px) {
  .xl\:text-shadow-light {
    text-shadow: #FC0 0 0 10px;
  }
}

.text-shadow-light {
  text-shadow: #FC0 0 0 10px;
}

.text-shadow-light:hover {
  text-shadow: #FF9 0 0 40px;
}